<div *ngIf="!loading" class="grid h-screen" style="grid-template-rows: max-content auto max-content">
  <div class="flex justify-between items-center p-4">
    <div class="font-bold">Planning Pocker</div>
    <div class="flex space-x-4">
      <button app-button (click)="promptName()" type="button">
        {{ appService.user.name }}
        <span *ngIf="appService.user.isAdmin" class="ml-1">(Admin)</span>
      </button>
      <button *ngIf="themeService.appliedColor === 'dark'" app-button (click)="changeColor('light')" type="button" [iconOnly]="true">
        <app-icon icon="moon"></app-icon>
      </button>
      <button *ngIf="themeService.appliedColor === 'light'" app-button (click)="changeColor('dark')" type="button" [iconOnly]="true">
        <app-icon icon="sun"></app-icon>
      </button>
      <button app-button (click)="colorSwitchInput.click()" type="button" [iconOnly]="true">
        <app-icon icon="color-swatch"></app-icon>
        <input #colorSwitchInput class="absolute w-0 h-0 inline invisible" type="color" [value]="themeService.appliedAccentColor" (change)="changeAccentColor($any($event.target).value)">
      </button>
    </div>
  </div>
  <div class="flex overflow-auto justify-center items-center">
    <router-outlet></router-outlet>
  </div>
</div>
