<div *ngIf="room" class="grid h-full" style="grid-template-rows: auto max-content">
  <div class="flex overflow-auto justify-center items-center">
    <div class="w-full max-w-screen-xl">
      <div class="mb-12 text-center">
        <a href="javascript:void(0)" class="group hover:cursor-pointer focus:cursor-pointer focus:outline-none focus:border-b-4 focus:border-b-gray-100 dark:focus:border-b-gray-700 inline py-2 px-4 relative text-2xl font-bold mb-4" (click)="changeName()">
          {{ room.name }}
          <div class="hidden group-focus:block group-hover:block absolute top-1/2 right-0 translate-x-full translate-y-[-50%]">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path>
            </svg>
          </div>
        </a>
      </div>
      <div class="flex flex-wrap justify-center items-center">
        <div *ngFor="let item of room.participants | keyvalue" class="w-32 my-5 mx-2 text-center">
          <div app-playing-card [hidden]="room.started && !room.finished">
            {{ item.value.vote }}
          </div>
          <div class="mt-2 font-medium text-sm truncate">
            {{ itsYou(item.key) ? '* You *' : item.value.name }}
          </div>
        </div>
      </div>
      <div *ngIf="room.finished" class="grid grid-flow-col gap-4 justify-center mt-5">
        <div *ngFor="let item of room.result">
          <div class="h-32 flex items-end">
            <div class="rounded-full bg-accent w-1 mx-auto" [style]="'height: ' + item.percentage + '%'"></div>
          </div>
          <div class="text-center mt-1">
            {{ item.option }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="flex justify-center my-5">
      <button app-button color="accent" *ngIf="room.started && !room.finished" (click)="finish()" type="button">
        Show cards
      </button>
      <button app-button color="accent" *ngIf="room.finished" (click)="start()" type="button">
        Vote next
      </button>
      <button app-button color="accent" *ngIf="!room.started && !room.finished" (click)="start()" type="button">
        Start the first voting
      </button>
    </div>
    <div *ngIf="room.started && !room.finished" class="flex justify-center items-center p-4 space-x-2">
      <ng-container *ngFor="let option of room.voteOptions">
        <button app-playing-card [clickable]="true" [active]="true" *ngIf="participant?.vote === option" (click)="vote()" type="button">
          {{ option }}
        </button>
        <button app-playing-card [clickable]="true" *ngIf="participant?.vote !== option" type="button" (click)="vote(option)" type="button">
          {{ option }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
